.rvm-modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .rvm-content-modal {
    background: #fff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
    height: auto !important;
    animation: rvm-fadeIn 0.3s ease-in-out;
  }
  
  .rvm-modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
  
  .rvm-modal-title {
    font-size: 2.3rem;
    font-weight: bold;
    color: black;
  }
  
  .rvm-modal-close {
    cursor: pointer;
    color: #6d6d6d !important;
    padding: 0 !important;
  }
  
  .rvm-modal-body {
    padding-top: 15px;
    width: 100% !important;
  }

  .rv-modal-input {
    margin-bottom: 20px; /* Ajusta este valor según necesites */
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .rvm-modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Esto controla el espacio entre los botones */
    margin-top: 10px; /* Aumenta el espacio entre los botones y el campo de entrada */
  }

  
  
  /* Animación de entrada del modal */
  @keyframes rvm-fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  