.container-registro-detalle-venta {
  box-shadow: 0 0 10px hsla(218, 15%, 11%, 0.2);
  background-color: #171a1f09 !important;
  border-radius: 10px;
}

.modal-prod {
  box-shadow: 0 0 10px hsla(218, 15%, 11%, 0.2);
  background-color: #e3e3e3;
}

.modal-prod hr {
  border: solid 0.1rem #bdbdbd !important;
}

.close-modal-prod {
  background-color: #e05858ff;
  font-size: 20px;
}

.button-tipo-prendas button {
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s, border-width 0.3s; /* Transición suave para color y ancho del borde */
}

.button-tipo-prendas button:hover {
  color: #00bdd6;
  box-shadow: 0px 3px 0px 0px #00bdd6; /* Crea una sombra en la parte inferior */
  border-radius: 0px;
}

.btn-producto {
  background-color: #4069e5ff;
  color: white;
  font-weight: 500;
  align-items: center;
}

.btn-producto:hover {
  background-color: #2655e1ff;
}

.spinner {
  display: flex;
  align-items: center;
}

.spinner button {
  padding: 0;
  width: 24px; /* Adjust the size as needed */
  height: 24px; /* Adjust the size as needed */
  border: none;
  background-color: #f0f0f0; /* Base color */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner button.decrement {
  background-color: #e0585842;
  border: solid 3px #e05858;
  color: #d22929;
  font-weight: bold;
}

.spinner button.increment {
  background-color: #58c9e042;
  border: solid 3px #58c9e0;
  color: #33bcce;
  font-weight: bold;
}

.spinner button:active {
  transform: scale(0.95);
}

.spinner span {
  margin: 0 12px;
}
