.rv-modal-label {
  display: block;
  margin-bottom: 4px; 
  font-weight: bold;
}

.rv-modal-input, .rv-modal-select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.rv-modal-space-y-2 {
  margin-bottom: 8px; /* Espaciado vertical entre elementos del formulario */
}

.rv-modal-space-y-4 {
  margin-bottom: 16px; /* Espaciado más grande si es necesario */
}

  .rv-modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .rv-modal-content {
    background: #fff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 150%;
    height: auto !important;
    animation: rv-modal-fadeIn 0.3s ease-in-out;
  }
  
  .rv-modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
  
  .rv-modal-title {
    font-size: 2.3rem;
    font-weight: bold;
    color: black;
  }
  
  .rv-modal-close {
    cursor: pointer;
    color: #6d6d6d !important;
    padding: 0 !important;
  }
  
  .rv-modal-body {
    padding-top: 15px;
    width: 100% !important;
  }
  
  .rv-modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
  
  /* Animación de entrada del modal */
  @keyframes rv-modal-fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
.om-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.om-modal-content-c {
  background-color: #f7f6f6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  animation: om-fadeIn 0.3s ease-in-out; 
}

.om-modal-content-c h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.om-modal-content-c label {
  display: block;
  margin-bottom: 10px;
}

.om-modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.om-btn {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.om-btn-cancel {
  background-color: #0000005e;
  color: white;
}

.om-btn-aceptar {
  background-color: #00bdd6;
  color: white;
}

.om-btn-danger {
  background-color: #aa1d22ff;
  color: white;
}

/* Animation */
@keyframes om-fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.cm-modal-content {
  background-color: #f7f6f6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out; 
}

.cm-inline-block {
  display: inline-block;
}

.cm-mr-2 {
  margin-right: 0.5rem;
}

.cm-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.cm-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cm-btn-cancel {
  background-color: #cccccc; 
  color: white;
}

.cm-btn-danger {
  background-color: #ff0000; 
  color: white;
}

.bm-modal-content {
  background-color: #f7f6f6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
 }

.bm-inline-block {
  display: inline-block;
}

.bm-mr-2 {
  margin-right: 0.5rem;
}

.bm-flex {
  display: flex;
}

.bm-mt-4 {
  margin-top: 1rem;
}

.bm-custom-checkbox {
  position: relative;
  cursor: pointer;
}

.bm-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px; 
}

.bm-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.bm-btn-cancel {
  background-color: #cccccc; 
  color: white;
}

.bm-btn-aceptar {
  background-color: #00bdd6; 
}

.om-flex {
  display: flex;
  align-items: center; 
  gap: 8px; 
}

.om-mt-4 {
  margin-top: 16px;
}

.om-custom-checkbox {
  cursor: pointer; 
}

.om-label {
  margin: 0; 
}
