h6 {
  color: #323842ff;
}

.estado-activo {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 0.85em !important;
  font-size: 80%;
  font-weight: 600;
  border-radius: 9999px;
  color: #117B34;
  background-color: #EEFDF3;
}

.input-rv {
  border: 2px solid #e2e8f0;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.cant-pag-rv {
  padding: 0.25rem 1rem;
  background-color: #eaeaeae3;
}
.estado-inactivo {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 0.85em !important;
  font-size: 80%;
  font-weight: 700;
  border-radius: 9999px;
  color: #E05858;
  background-color: #FDF2F2;
}

/* tabla*/
.container-tabla-marca-rv {
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border-bottom: 1px solid #dddddd;
}

.table th {
  color: #333;
  font-weight: bold;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table td {
  font-size: 16px;
}

.tr-tabla-marca-rv {
  transition: background-color 0.3s ease;
}

/* Icons styles */
.table .cursor-pointer {
  transition: color 0.3s;
}

.table .cursor-pointer:hover {
  transform: scale(1.1);
}

