.header-box {
  padding: 16px;
  background-color: #e0f7fa;
  margin-bottom: 16px;
}

.header-grid {
  margin-top: 16px;
}

.flex-grow {
  flex-grow: 1;
}

.table-title {
  padding: 16px;
}

.table-button {
  margin: 16px;
}
